.icons {
  height: 40px;
  width: 40px;
}

nav {
  height: 10%;
}
nav ul {
  list-style: none;
  display: flex;
  height: 50px;
  align-items: center;
  justify-content: right;
  width: 100%;
  padding: 15px 0;
  margin: 0;
}
nav ul li {
  margin: 0 30px;
}

.hello {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  padding: 0;
}
@media screen and (max-width: 700px) {
  .hello {
    width: 100%;
  }
}
@media screen and (max-width: 400px) {
  .hello {
    margin: 0;
    width: 100%;
  }
}
.hello .hello-wrapper {
  margin-left: 10%;
}
@media screen and (max-width: 400px) {
  .hello .tags {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
.hello .tags ul {
  list-style: none;
  display: flex;
  padding: 0;
}
@media screen and (max-width: 400px) {
  .hello .tags ul {
    align-items: center;
  }
}
.hello .tags ul li {
  padding: 5px 20px;
  border: 2px solid #76279f;
  font-family: "Kanit", sans-serif;
  font-weight: 600;
  color: #76279f;
  margin-right: 1px;
}
.hello .tags ul a {
  text-decoration: none;
}
.hello p {
  font-family: "Kanit", sans-serif;
  font-size: 52px;
  font-weight: 800;
  margin: 0;
}
.hello p span {
  color: #76279f;
}

.about-wrapper {
  display: grid;
  grid-template-columns: 50% 50%;
  height: auto;
  width: 110%;
  padding-bottom: 9rem;
  background: linear-gradient(-45deg, #a852ee, #8c3ce7, #5223d5, #b6bdbb);
  background-size: 400% 400%;
  animation: gradient 15s ease infinite;
  clip-path: polygon(0 0, 100% 0, 100% 82%, 0% 100%);
}
@media screen and (max-width: 700px) {
  .about-wrapper {
    display: grid;
    grid-template-columns: 1fr;
    height: auto;
    width: 100%;
  }
}
.about-wrapper .title {
  font-family: "Kanit", sans-serif;
  font-weight: 900;
  font-size: 40px;
  color: white;
  margin: 0;
  padding-top: 70px;
  text-align: center;
}
.about-wrapper .about-text {
  font-family: "Kanit", sans-serif;
  font-weight: 100;
  font-size: 30px;
  color: rgb(255, 255, 255);
  text-align: left justify;
  margin-left: 20px;
}
.about-wrapper .skills {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.about-wrapper .skills .logosbot {
  display: inline-grid;
  grid-template-columns: 50% 50%;
  gap: 50px;
  margin-top: 50px;
}
.about-wrapper .skills .logosbot .logo {
  height: 100px;
}
.about-wrapper .skills .logos {
  display: inline-grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  justify-items: center;
  align-items: center;
  margin-top: 50px;
  gap: 50px;
}
.about-wrapper .skills .logos .logo {
  height: 100px;
}

.projects {
  height: 100vh;
}
.projects .title {
  font-family: "Kanit", sans-serif;
  font-weight: 900;
  font-size: 40px;
  color: #76279f;
  margin: 0;
  padding-top: 70px;
  text-align: center;
}
.projects .cardcontainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 30px;
}
.projects .cardcontainer .card {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 100%;
  width: 50%;
  gap: 20px;
}
.projects .cardcontainer .card h2 {
  font-family: "Kanit", sans-serif;
  grid-column: 2/3;
  grid-row: 1/2;
}
.projects .cardcontainer .card p {
  font-family: "Kanit", sans-serif;
  grid-column: 2/3;
  grid-row: 1/2;
}
.projects .cardcontainer .card img {
  height: 235px;
  border: 2px solid #76279f;
  grid-column: 1/2;
  grid-row: 1/2;
}

body {
  margin: 0;
  overflow-x: hidden;
}

html {
  scroll-behavior: smooth;
}

/*# sourceMappingURL=style.css.map */
