.icons {
  height: 40px;
  width: 40px;
}

nav {
  height: 10%;
  background-color: rgb(224, 224, 224);
}
nav ul {
  list-style: none;
  display: flex;
  height: 50px;
  align-items: center;
  justify-content: right;
  width: 100%;
  padding: 15px 0;
  margin: 0;
}
nav ul li {
  margin: 0 30px;
}

.hello {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  padding: 0;
  background-color: rgb(224, 224, 224);
}
@media screen and (max-width: 700px) {
  .hello {
    width: 100%;
  }
}
@media screen and (max-width: 400px) {
  .hello {
    margin: 0;
    width: 100%;
  }
}
.hello .hello-wrapper {
  margin-left: 10%;
}
@media screen and (max-width: 400px) {
  .hello .tags {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
.hello .tags ul {
  list-style: none;
  display: flex;
  padding: 0;
}
@media screen and (max-width: 400px) {
  .hello .tags ul {
    align-items: center;
  }
}
.hello .tags ul li {
  padding: 5px 20px;
  border: 2px solid #76279f;
  font-family: "Kanit", sans-serif;
  font-weight: 600;
  color: #76279f;
  margin-right: 1px;
}
.hello .tags ul a {
  text-decoration: none;
}
.hello p {
  font-family: "Kanit", sans-serif;
  font-size: 52px;
  font-weight: 800;
  margin: 0;
}
.hello p span {
  color: #76279f;
}

.about-wrapper {
  display: grid;
  grid-template-columns: 50% 50%;
  height: auto;
  width: 100%;
  padding-bottom: 9rem;
  background: linear-gradient(-45deg, #a852ee, #8c3ce7, #5223d5, #b6bdbb);
  background-size: 400% 400%;
  animation: gradient 15s ease infinite;
  clip-path: polygon(0 0, 100% 0, 100% 82%, 0% 100%);
}
@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
@media screen and (max-width: 700px) {
  .about-wrapper {
    display: grid;
    grid-template-columns: 1fr;
    height: 150%;
    width: 100%;
  }
}
.about-wrapper .title {
  font-family: "Kanit", sans-serif;
  font-weight: 900;
  font-size: 40px;
  color: white;
  margin: 0;
  padding-top: 70px;
  text-align: center;
}
.about-wrapper .about-text {
  font-family: "Kanit", sans-serif;
  font-weight: 100;
  font-size: 30px;
  color: rgb(224, 224, 224);
  text-align: left justify;
  margin-left: 20px;
}
.about-wrapper .skills {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.about-wrapper .skills .logosbot {
  display: inline-grid;
  grid-template-columns: 50% 50%;
  gap: 50px;
  margin-top: 50px;
}
.about-wrapper .skills .logosbot .logo {
  height: 100px;
}
.about-wrapper .skills .logos {
  display: inline-grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  justify-items: center;
  align-items: center;
  margin-top: 50px;
  gap: 50px;
}
.about-wrapper .skills .logos .logo {
  height: 100px;
}

.projects {
  height: 100vh;
  background-color: rgb(224, 224, 224);
}
.projects .title {
  font-family: "Kanit", sans-serif;
  font-weight: 900;
  font-size: 40px;
  color: #76279f;
  margin: 0;
  padding-top: 70px;
  text-align: center;
}
.projects .cardcontainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 30px 0 0 0;
  width: 100%;
}
.projects .cardcontainer .card {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 100%;
  width: 100%;
  margin: 2rem;
  justify-items: center;
}
@media screen and (max-width: 700px) {
  .projects .cardcontainer .card {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    text-align: center;
  }
}
.projects .cardcontainer .card h2 {
  font-family: "Kanit", sans-serif;
  grid-column: 2/3;
  grid-row: 1/2;
}
.projects .cardcontainer .card p {
  font-family: "Kanit", sans-serif;
  grid-column: 2/3;
  grid-row: 1/2;
}
.projects .cardcontainer .card img {
  height: 235px;
  width: 458px;
  border: 2px solid #76279f;
  grid-column: 1/2;
  grid-row: 1/2;
}

.form-container {
  display: flex;
  width: auto;
  align-items: center;
  justify-content: center;
  height: 70vh;
  background: linear-gradient(-45deg, #6b2f9c, #6d31b3, #5223d5);
  background-size: 400% 400%;
  animation: gradient 15s ease infinite;
  font-family: "Kanit", sans-serif;
  clip-path: polygon(0 0, 100% 0, 100% 90%, 0% 100%);
}
@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.email-form {
  display: grid;
  height: 95%;
  justify-items: center;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(4, auto);
  width: 100%;
  color: white;
  font-size: 1.5rem;
  font-weight: 800;
  line-height: 1.5;
}
.email-form div {
  margin: 10px 0;
}
.email-form input {
  width: 500px;
  height: 30px;
  border-radius: 10px;
  border: none;
  font-family: "Kanit", sans-serif;
  padding-left: 10px;
  font-size: 1rem;
}
.email-form textarea {
  width: 500px;
  border-radius: 10px;
  border: none;
  font-family: "Kanit", sans-serif;
  padding-left: 10px;
  font-size: 1rem;
  resize: none;
}
.email-form button {
  width: 500px;
  margin-top: 20px;
  height: 30px;
  font-family: "Kanit", sans-serif;
  border-radius: 10px;
  border: none;
  cursor: pointer;
}

body {
  margin: 0;
  overflow-x: hidden;
  background-color: rgb(224, 224, 224);
}

html {
  scroll-behavior: smooth;
}

/*# sourceMappingURL=style.css.map */
