@import 'base/icons';
@import 'components/header';
@import 'components/hello';
@import 'components/about';
@import 'components/projects';

body{
    margin: 0;
    overflow-x: hidden;
}

html{
    scroll-behavior: smooth;

}