.form-container {
    display: grid;
    grid-template-columns: 30% 70%;
    height: 70vh;
    align-items: center;
    justify-items: center;

    background: linear-gradient(-45deg, #6b2f9c, #6d31b3, #5223d5);
    background-size: 400% 400%;
    animation: gradient 15s ease infinite;
    font-family: 'Kanit', sans-serif;

    // clip-path: polygon(0 0, 100% 0, 100% 90%, 0% 100%);

    @keyframes gradient {
        0% {
            background-position: 0% 50%;
        }

        50% {
            background-position: 100% 50%;
        }

        100% {
            background-position: 0% 50%;
        }
    }

    @media screen and (max-width: 1200px) {
        display: flex;
        align-items: center;
        width: 100vw;
        justify-content: center;
        height: auto;

        .gif{
            display: none;
        }

        .email-form{
            display: flex;
            flex-direction: column;
            width: 100vw;
            align-items: center;
            input, textarea, button{
                width: 90vw; 
                margin-bottom: 10px;  
            }
        }
    }
}

.gif{
    grid-column: 1 / 2;
    
    img{
        height: 50%;
        padding-left: 50%;
    }
}

.email-form {
    grid-column: 2 / 3;
    display: grid;
    height: 95%;
    justify-items: center;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4, auto);
    width: 100%;
    color: white;



    font-size: 1.5rem;
    font-weight: 500;
    line-height: 1.5;

    div {
        margin: 10px 0;
    }

    input {
        width: 30rem;
        height: 30px;
        border-radius: 10px;
        border: none;
        font-family: 'Kanit', sans-serif;
        padding-left: 10px;
        font-size: 1rem;
    }

    textarea {
        width: 30rem;
        border-radius: 10px;
        border: none;
        font-family: 'Kanit', sans-serif;
        padding-left: 10px;
        font-size: 1rem;
        resize: none;
    }

    button {
        width: 30rem;
        margin-top: 20px;
        height: 30px;
        font-family: 'Kanit', sans-serif;
        border-radius: 10px;
        border: none;
        cursor: pointer;
    }

}