nav{
    height: 10%;
    background-color: $base-color;
    width: 100vw;
    // display: flex;
    ul{
        list-style: none;
        display: flex;
        height: 50px;
        align-items: center;
        justify-content: right;
        width: 100%;
        padding: 15px 0;
        margin: 0;
        
        li{
            margin: 0 30px;
        }
    }
}