.hello {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(3, 1fr);
    justify-content: center;
    height: 100%;
    overflow: hidden;

    @media screen and (max-width: 700px) {
        align-items: center;
        height: fit-content;
        width: 100vw;
        display: grid;
        grid-template-rows: repeat(6, auto);
        grid-template-columns: auto;

        // .hello-wrapper{
        //     width: 80%;
        // }

        .hi-text {
            grid-row: 1/2;
            grid-column: 1/3;
            align-self: center;
            justify-self: center;
            width: 100vw;
            padding: 0;
            text-align: center;
        }

        .desc-text {
            grid-row: 2/3;
            grid-column: 1/3;
            align-self: center;
            justify-self: center;
            width: 100vw;
        }

        .hello-img {
            grid-row: 3/4;
            grid-column: 1/3;
            align-self: center;
            justify-self: center;
            width: 100vw;
            padding: 0;
            height: 350px;
            width: 350px;
        }

        .and {
            grid-row: 4/5;
            grid-column: 1/3;
            align-self: center;
            justify-self: center;
            width: 100vw;
        }

        .dev {
            grid-row: 5/6;
            grid-column: 1/3;
            align-self: center;
            justify-self: center;
            width: 100vw;
            text-align: center;
            font-size: 80px;
        }
    }

}


.hi-text {
    margin: 0;

    font-family: $big-font;
    font-size: 140px;

    letter-spacing: 2px;

    text-shadow: -5px 4px 1px $orange;

    align-self: end;
    justify-self: center;

    padding-left: 2em;
}

.desc-text {
    margin: 0;

    font-family: $details-font;
    font-size: 4rem;
    font-style: italic;
    font-weight: 700;
    justify-self: center;

    align-self: end;
    text-align: center;
}

.hello-img {
    margin: 0;
    padding-right: 3rem;
    justify-self: right;
    align-self: center;
    height: 450px;
}

.and {
    align-self: self-start;
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    justify-self: center;
}

.dev {

    grid-column: 2 / 3;
    grid-row: 2 / 3;
    padding: 0;
    justify-self: left;
    align-self: center;
    font-size: 120px;

}