.projects{
    .title{
        font-family: 'Kanit', sans-serif;
        font-weight: 900;
        font-size: 40px;
        color: #76279f;
        margin: 0;
        padding-top: 70px;
        text-align: center;
    }
}