.projects {
    height: auto;
    background-color: $base-color;
    width: auto;

    .title {
        font-family: 'Kanit', sans-serif;
        font-weight: 900;
        font-size: 40px;
        color: $basic-white;
        margin: 0;
        padding-top: 20px;
        padding-left: 0;
        text-align: center;
    }

    .cardcontainer {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin: 30px 0 0 0;
        width: 100%;

        .card {
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-template-rows: 100%;
            width: 70%;
            // gap: 20px;
            margin: 2rem;
            justify-items: center;

            @media screen and (max-width: 700px){
                margin: .1rem;
                align-items: center;
                justify-items: center;
            }

            img {
                height: 235px;
                width: 458px;
                grid-column: 1 / 2;
                grid-row: 1 / 2;
                border-radius: 3px;
            }

            .text {
                @media screen and (max-width: 700px) {
                    display: flex;
                    flex-direction: column;
                    text-align: center;
                    width: 90vw;
                }

                .card-buttons-container {
                    display: flex;
                    align-items: center;
                    justify-content: space-around;

                    .card-buttons {
                        color: $basic-white;
                        text-decoration: none;
                        font-family: 'Kanit', sans-serif;
                        font-weight: 600;
                        margin-top: 30px;
                        border: 2px solid black;
                        padding: 10px 20px;
                        border-radius: 10px;

                        @media screen and (max-width: 700px) {
                            display: flex;
                            flex-direction: column;
                            text-align: center;
                            width: 70vw;
                            padding: 5px 10px;
                            margin: 10px;
                            font-size: 12px;
                        }
                    }

                }


                h2 {
                    font-family: 'Kanit', sans-serif;
                    grid-column: 2 / 3;
                    grid-row: 1 / 2;
                    margin: 0;
                    margin-left: 20px;
                }

                .project-text {
                    font-family: 'Kanit', sans-serif;
                    grid-column: 2 / 3;
                    grid-row: 1 / 2;
                    font-size: 16px;
                    font-weight: 200;
                    margin-left: 20px;
                    padding: 0;
                }

                
            }

            @media screen and (max-width: 700px) {
                display: grid;
                grid-template-columns: auto;
                grid-template-rows: 1fr 1fr;
                text-align: center;
                width: 100vw;
                margin: 0;



                img {
                    width: 80vw;
                }

            }
        }
    }
}